@{ 
    ViewData["Title"] = "Resumo";
}

@model EbookStore.Models.ViewModels.CarrinhoViewModel

<h3>Resumo do Pedido</h3>

<div class="panel panel-default">
    <div class="panel-body">
       <div class="row">
           <div class="col-md-12">
               <h3>Nº do Pedido: 12345678</h3>
           </div>
       </div>
        <hr />
       <div class="row">
           <div class="col-md-3">
               <h3>Seus Dados:</h3>
               <div>Ygor Vieira</div>
               <div>(21) 2233-4455</div>
           </div>
           <div class="col-md-3">
               ygorus@gmail.com
           </div>
           <div class="col-md-6">
               <h3>Endereço de Entrega:</h3>
               <div>Rua XXX, nº 10 - Bairro YYY - Rio de Janeiro - RJ</div>
           </div>
       </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantidade</h3>
            </div>
        </div>
           @foreach (var item in Model.Itens)
           {
               <div class="row">
                   <div class="col-md-10">
                       <div>@item.Produto.Nome</div>
                   </div>
                   <div class="col-md-2">
                       <div class="pull-right">@item.Quantidade</div>
                   </div>
               </div>
           }
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <span class="pull-right">
                        Total: @Model.Itens.Count()
                        @(Model.Itens.Count() < 2 ? "item" : "itens")
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>